<%= stylesheet_link_tag 'users_styles' %>

<div>
  <ul>
    <li><img src="<%= @user.photo %>"></li>
    <div class="border">
      <li><%= @user.name %></li>
      <p>Number of posts: <%= @user.posts.count %></p>
    </div>
  </ul>
  
  <!-- Bio section -->
  <div class="bio">
    <h2>Bio</h2>
    <%= @user.bio %>
  </div>
  
  <div class="post">
  <% @user_posts.each_with_index do |post, index| %>
    <h3>Post <%= index + 1 %></h3>
    <li class="post-title"><%= post.title %></li>
    <% if post %>
    <p>Comments: <%= post.comments.count %> || Likes: <%= post.likes.count %></p>
    <% end %>
  <% end %>

  </div>
  
  <div class="comments">
    <% @recent_comments.each do |comment| %>
      <p><span><%= comment.author.name %></span>: <%= comment.text %></p>
    <% end %>
  </div>
</div>
