<div class="comments">
  <div class="post_header">
    <span>Post: <%= @post_index %> by <%= @user_post.author.name %></span>
    <span>Comments: <%= @comments_count %> || Likes: <%= @likes_count %></span>
  </div>

  <% @user_post.comments.each do |comment| %>
    <p><%= @user_post.text %>: <%= comment.text %></p>
    <p><span><%= comment.author.name %></span>: <%= comment.text %></p>
  <% end %>
</div>