<!DOCTYPE html>
<html>
  <head>
    <title>CarenBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless notice.nil? %>
      <p class="notice alert alert-info" role="alert"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
